link(rel='stylesheet', href='http://appolition.com:5000/stylesheets/jquery-ui-1.8.18.custom.css')
link(rel='stylesheet', href='http://appolition.com:5000/stylesheets/earthscope.css')
script(type='text/javascript', src='http://appolition.com:5000/javascripts/jquery-1.7.1.min.js')
script(type='text/javascript', src='http://appolition.com:5000/javascripts/jquery-ui-1.8.18.custom.min.js')
script(type='text/javascript', src='http://localhost:5000/scripts/coordinate_transforms.js')
script(type='text/javascript', src='http://localhost:5000/scripts/functional_arrays.js')
script(type='text/javascript', src='http://localhost:5000/scripts/gl_funcs.js')
script(type='text/javascript', src='http://appolition.com:5000/javascripts/kinetic-v3.9.1.min.js')

:coffeescript
  fixVertex= (vertex, projection, modelView) ->
    vert = toWebGL vertex
    vert[3] = 1.0
    v = mul_v mul2(projection, modelView), vert
    return {x: v[0] + 400.0, y: v[1] + 240.0}
 
  class Polygon
    constructor: (shape) ->
      @shape = shape
      @header = @shape.header

      numParts = @header[5]
      numPoints = @header[6]

      @partsIndex = @shape.partsIndex

      @parts = @shape.parts

    eachVertex: (action) ->
      args = Array.prototype.slice_args arguments
      args.unshift (part) ->
        args2 = Array.prototype.slice_args arguments, 1
        part.apply.apply part, args2
        return

      @parts.for_each.apply @parts, args
      return

  $(document).ready ->
    projection = new Array 16
    makeIdentity projection
    makePerspective projection, 60.0, 1.0, 1.0, 1000.0

    modelView = new Array 16
    makeIdentity modelView
    rotate  modelView, 223.5, [1.0, 0.0, 0.0]
    rotate  modelView, 8.0, [0.0, 1.0, 0.0]
    rotate modelView, -5.0, [1.0, 0.0, 0.0]
    scale_m modelView, [600.0, 600.0, 600.0]

    stage = new Kinetic.Stage
      container: 'screen',
      width: 800,
      height: 480

    curFrame = 0
    stations = new Array()
    $.getJSON 'http://appolition.com:4000/4', (shape) ->
      $('#messages').html ''
      poly = new Polygon shape
      poly.eachVertex fixVertex, projection, modelView
      usLayer = new Kinetic.Layer()
      for part in poly.parts
        ply = new Kinetic.Polygon
          stroke: '#1b3664',
          strokeWidth: 1,
          points: part
        usLayer.add ply
      stage.add usLayer

      $.getJSON 'http://appolition.com:4000/27', (shape) ->
        $('#messages').html ''
        poly = new Polygon shape
        poly.eachVertex fixVertex, projection, modelView
        canadaLayer = new Kinetic.Layer()
        for part in poly.parts
          ply = new Kinetic.Polygon
            stroke: '#1b3664',
            strokeWidth: 1,
            points: part
          canadaLayer.add ply
        stage.add canadaLayer

        $.getJSON 'http://appolition.com:4000/18', (shape) ->
          $('#messages').html ''
          poly = new Polygon shape
          poly.eachVertex fixVertex, projection, modelView
          mexicoLayer = new Kinetic.Layer()
          for part in poly.parts
            ply = new Kinetic.Polygon
              stroke: '#1b3664',
              strokeWidth: 1,
              points: part
            mexicoLayer.add ply
          stage.add mexicoLayer

          $('#messages').html 'Loading data...'

          $.getJSON 'http://localhost:5000/stations', (stats) ->
            stationLayer = new Kinetic.Layer()
            for station in stats
              lat = parseFloat station.loc[0]
              lon = parseFloat station.loc[1]
              station.loc = fixVertex [lat, lon], projection, modelView
            
              if station.samples
                station.circle = new Kinetic.Circle
                  x: station.loc.x,
                  y: station.loc.y,
                  radius: 3,
                  fill: '#ffffff',
                  stroke: '#1b3664',
                  strokeWidth: 1,
                  listen: false
                stations.push station
                stationLayer.add station.circle
            stage.add stationLayer

            $('#messages').html ''
            $('#pblabel').show()

            setInterval () ->
              if curFrame >= stations[0].samples.length - 1
                curFrame = 0

              $('#progressbar').progressbar({ value: curFrame / (stations[0].samples.length - 1.0) * 100.0 })

              for station in stations 
                if !station.samples
                  continue
                val = station.samples[curFrame]
                val /= 100.0
                if val < -0.75
                  val = Math.abs val
                  station.circle.fill = 'rgba(0, 0, 255, ' + val + ')'
                  station.circle.radius = 1
                else if val < -0.25
                  val = Math.abs val
                  station.circle.fill = 'rgba(0, 0, 255, ' + val + ')'
                  station.circle.radius = 2
                else if val > 0.25
                  station.circle.fill = 'rgba(255, 0, 0, ' + val + ')'
                  station.circle.radius = 4
                else if val > 0.75
                  station.circle.fill = 'rgba(255, 0, 0, ' + val + ')'
                  station.circle.radius = 5
                else
                  val = Math.abs val
                  station.circle.fill = 'rgba(255, 0, 0, ' + val + ')'
                  station.circle.radius = 3
              curFrame += 1
              stationLayer.draw()
            , 25

          stage.start()
    return

.content_header
  span= 'EarthScope Viewer'
.content_body
  .content_wrapper
    br
    #viewer
      #messages
      #screen
      .clear

    #progressbar
    #pblabel
      table
        tr
          td.left 8:50 PM
          td.middle 9:50 PM
          td.right 10:50 PM

      #description
        p Here are the seismic waves crossing the U.S from the 8.6 magnitude quake that hit off of the west coast of North Sumatra on April, 11, 2012 at 08:38:37 UTC.
